  .trustes{
    padding-top: 170px;

    .trus-contents{

        p{
            color: rgba(18, 20, 29, 0.80);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 133.333% */
            letter-spacing: 1px;
            padding-bottom: 50px;
        }
    }
  }